body{
    font-family: 'Poppins', sans-serif;
    background: #f44336;
  }
  
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1300px;
    height: 100vh;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  .button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  button#btn{
    background: orange;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
  }
    button#btn:hover{
        background: #fff;
        color: #f44336;
        border: 1px solid #f44336;
    }

  .emoji-smile{
    font-size: 100px;
    text-align: center;
  }

  p.emoji-text{
    font-size: 24px;
    font-weight: 600;
    color: #fff;
  }